<div class="vernav2 iconmenu">
    <ul>
        <li id="set_open"><a href="/WebSetting/OpenTime" class="editor">开放时间</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="elements">权限设置</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="trash">分类设置</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="addons">其他设置</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div>