<div class="vernav2 iconmenu">
    <ul>
        <li id="stu_add"><a href="/Student/Add" class="editor">添加学生</a></li>
        <li id="stu_info"><a href="/Student/Index" class="elements">学生信息</a></li>
        <li id="stu_import"><a href="/Student/Import" class="trash">导入学生</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="addons">信息查看</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="drafts">信息审核</a></li>
        <li>
            <a href="#formsub" class="tables">数据统计</a>
            <span class="arrow"></span>
            <ul id="formsub">
                <li><a href="javascript:void(0);" onclick="tip();">基础数据</a></li>
                <li><a href="javascript:void(0);" onclick="tip();">历史汇总</a></li>
                <li><a href="javascript:void(0);" onclick="tip();">毕业去向</a></li>
            </ul>
        </li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--leftmenu-->