<div class="vernav2 iconmenu">
    <ul>
        <li id="stu_add"><a href="/Student/Add" class="editor">添加学生</a></li>
        <li id="stu_info"><a href="/Student/Index" class="elements">学生信息</a></li>
        <li id="stu_audit"><a href="elements.html" class="calendar">信息审核</a></li>
        <li id="stu_import"><a href="widgets.html" class="trash">导入学生</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--leftmenu-->