<div class="vernav2 iconmenu">
    <ul>
        <li id="tea_add"><a href="/Teacher/Add" class="editor">添加教师</a></li>
        <li id="tea_info"><a href="/Teacher/Index" class="elements">教师信息</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--leftmenu-->