<div class="vernav2 iconmenu">
    <ul>
        <li id="tea_add"><a href="/Teacher/Add" class="editor">添加教师</a></li>
        <li id="tea_info"><a href="/Teacher/Index" class="elements">教师信息</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="addons">发布课件</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="tables">任教信息</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="calendar">教学计划</a></li>
        <li><a href="javascript:void(0);" onclick="tip();" class="typo">课程安排</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--leftmenu-->